@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

:root {
  --primary-black: #000;
  --primary-green: #008000;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

/****  NavBar Links ***/
nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li {
  text-transform: capitalize;
}

.navbar-nav > li > a {
  margin-left: 45px;
  color: var(--primary-black) !important;
  border-top: 0.19rem solid var(--primary-dark);
}
.navbar-brand {
  max-width: 15rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.19rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.19rem solid var(--primary-green);
}
